.Banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: auto;
}
.Banner img {
  width: 50%;
}

@media screen and(max-width: 320) {
  .Banner {
    width: 100%;
  }
  .Banner img {
    width: 50%;
  }
}
