.TrendingCat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.TrendingCatImage {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Add space between items */
  width: 100%;
  object-fit: contain;
}
.TrendingCatImage img {
  padding: 1%;
  box-sizing: border-box;
}
