.upper {
  display: flex;
  width: auto;
  margin: auto;
  background-color: #eeeeee;
  height: 25px;
  align-items: center;
  padding: 5px 0px;
  justify-content: space-between;
  text-align: center;
}
.logo {
  width: 50%;
}
.upper li {
  list-style-type: none;
}
.one {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  font-size: 13px;
  align-items: center;
  /* justify-content: space-between; */
}
.two {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 13px;
}
.bottom {
  width: 90%;
  margin: auto;
}
.flag {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0px;
}
.navlinks {
  color: black !important;
  font-size: 18px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* #navlinkss {
  display: none;
} */
.navlinks > p {
  display: hidden !important;
}
.searchContainer {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  /* width: 20%; */
  border-radius: 10px;
  background-color: #eaeaea;
}
.searchIcon {
  margin-right: 10px; /* Adjust the margin as needed */
  margin-left: 10px;
}
.Search {
  margin-top: 5px;
}

.Search input {
  border: 1px solid transparent;
  outline: none; /* Remove the default focus outline */
  background-color: #eaeaea;
}

/* Style for the focused state of the input */
.Search input:focus {
  border: 1px solid transparent;
  outline: none;
}
.nava {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  /* display: "flex", */
  /* alignContent: "baseline",
                    marginBottom: "10px",
                    justifyContent: "space-between",
                    width: "70%", */
}

@media only screen and (min-width: 427px) and (max-width: 800px) {
  .upper {
    display: none;
  }
  .bottom {
    width: 95%;
    margin: auto;
  }
  .Search {
    display: none;
  }
  .navlinks > p {
    display: visible !important;
  }
  .first-navbar {
    display: none;
  }
}
.suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  width: 20%;
  max-height: 200px;
  overflow-y: auto;
}
.suggestionsList li {
  padding: 8px 16px;
  cursor: pointer;
}
.suggestionsList li:hover {
  background-color: #f0f0f0;
}

@media only screen and (min-width: 0px) and (max-width: 426px) {
  .upper {
    display: none;
    /* color: blue; */
  }

  .bottom {
    width: auto;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    /* display: none; */
  }
  .col-lg-4 {
    display: none;
  }
  .navlinks {
    /* display: flex; */
    flex-direction: row;
    display: none;
  }
  .logo {
    /* width: 100%; */
    display: none;
  }
  .Search {
    display: none;
  }
  .flag {
    display: none;
  }
  #navlinkss {
    display: none;
  }
  .brand {
    display: none;
  }
  .row {
    display: none;
  }

  .firstnavbarssss {
    color: green;
    display: none;
  }
  .mHeaderDiv {
    height: 56px;
    top: 0px;
    background-color: #fff;
  }
  .mHeader {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: inherit;
    flex-flow: inherit;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 56px;
  }
  #hambu {
    display: none;
  }
  .mLogoDiv {
    font-size: 24px;
    padding: 0;
    color: #000;
  }
  .mLogoDiv {
    /* height: 24px; */
    width: 24px;
    vertical-align: middle;
    margin-left: 0px;
  }
  .mActionMenu {
    width: calc(100% - 190px);
    color: #000;
  }
  .iconMenuOption {
    text-align: right;
    position: absolute;
    display: flex;
    right: 8px;
    /* margin-left: 10px; */
  }
  .msearchContainer {
    width: 100%;
    text-align: left;
    left: 0px;
  }
  .headericon {
    margin-left: 10px;
  }
  .mMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: -2px;
    z-index: 1001;
    overflow-x: hidden;
    transition: left 0.2s cubic-bezier(0.77, 0.2, 0.05, 1) 0s;
    background: rgb(255, 255, 255);
  }
  .sideMenuHolder {
    width: 270px;
    height: 100%;
    display: block;
    background: rgb(255, 255, 255);
    margin: 0px;
  }
  .mMenuHead {
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid rgb(216, 216, 216);
  }
  .welcomeHeader {
    width: 100%;
    padding: 15px 20px;
    overflow: hidden;
  }
  .welcomeGuest {
    font-family: montserrat-bold, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: normal;
  }
  .mMainMenu {
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 1px;
  }
  .menuHeading {
    font-size: 12px;
    font-family: montserrat-bold, sans-serif;
    color: rgba(0, 0, 0, 0.3);
    line-height: normal;
    text-transform: uppercase;
    padding: 14px 20px 5px;
  }
  .MenuListOption {
    line-height: 48px;
    list-style-type: none;
  }
  .MenuListOption a,
  .sideNavBox .mMenu .mMainMenu .MenuListOption label {
    display: block;
    font-family: montserrat-bold, sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 0px 50px 0px 20px;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
  }
  .menuListWrpr ul {
    list-style-type: none;
  }
  .mMenu2 {
    display: none;
  }
  .inputcheckbox {
    display: none;
  }
}
@media only screen and (min-width: 427px) and (max-width: 996px) {
  .upper {
    display: none;
    /* color: blue; */
  }

  .bottom {
    width: auto;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    /* display: none; */
  }
  .col-lg-4 {
    display: none;
  }
  .navlinks {
    /* display: flex; */
    flex-direction: row;
    display: none;
  }
  .logo {
    /* width: 100%; */
    display: none;
  }
  .Search {
    display: none;
  }
  .flag {
    display: none;
  }
  #navlinkss {
    display: none;
  }
  .brand {
    display: none;
  }
  .row {
    display: none;
  }

  .firstnavbarssss {
    color: green;
    display: none;
  }
  .mHeaderDiv {
    height: 56px;
    top: 0px;
    background-color: #fff;
  }
  .mHeader {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: inherit;
    flex-flow: inherit;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 56px;
  }
  #hambu {
    display: none;
  }
  .mLogoDiv {
    font-size: 24px;
    padding: 0;
    color: #000;
  }
  .mLogoDiv {
    /* height: 24px; */
    width: 24px;
    vertical-align: middle;
    margin-left: 0px;
  }
  .mActionMenu {
    width: calc(100% - 190px);
    color: #000;
  }
  .iconMenuOption {
    text-align: right;
    position: absolute;
    display: flex;
    right: 8px;
    /* margin-left: 10px; */
  }
  .msearchContainer {
    width: 100%;
    text-align: left;
    left: 0px;
  }
  .headericon {
    margin-left: 10px;
  }
  .mMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: -2px;
    z-index: 1001;
    overflow-x: hidden;
    transition: left 0.2s cubic-bezier(0.77, 0.2, 0.05, 1) 0s;
    background: rgb(255, 255, 255);
  }
  .sideMenuHolder {
    width: 270px;
    height: 100%;
    display: block;
    background: rgb(255, 255, 255);
    margin: 0px;
  }
  .mMenuHead {
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid rgb(216, 216, 216);
  }
  .welcomeHeader {
    width: 100%;
    padding: 15px 20px;
    overflow: hidden;
  }
  .welcomeGuest {
    font-family: montserrat-bold, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: normal;
  }
  .mMainMenu {
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 1px;
  }
  .menuHeading {
    font-size: 12px;
    font-family: montserrat-bold, sans-serif;
    color: rgba(0, 0, 0, 0.3);
    line-height: normal;
    text-transform: uppercase;
    padding: 14px 20px 5px;
  }
  .MenuListOption {
    line-height: 48px;
    list-style-type: none;
  }
  .MenuListOption a,
  .sideNavBox .mMenu .mMainMenu .MenuListOption label {
    display: block;
    font-family: montserrat-bold, sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 0px 50px 0px 20px;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
  }
  .menuListWrpr ul {
    list-style-type: none;
  }
  .mMenu2 {
    display: none;
  }
  .inputcheckbox {
    display: none;
  }
}

@media only screen and (min-width: 997px) and (max-width: 2224px) {
  .mHeaderDiv {
    display: none;
  }
}

/* .firstnavbarssss {
  color: green;
  display: none;
} */
