.upper {
  display: flex;
  width: auto;
  margin: auto;
  background-color: #eeeeee;
  height: 25px;
  align-items: center;
  padding: 5px 0px;
  justify-content: space-between;
  text-align: center;
}
.logo {
  width: 50%;
}
.upper li {
  list-style-type: none;
}
.one {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  font-size: 13px;
  align-items: center;
  /* justify-content: space-between; */
}
.two {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 13px;
}
.bottom {
  width: 90%;
  margin: auto;
}
.flag {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0px;
}
.navlinks {
  color: black !important;
  font-size: 18px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* #navlinkss {
  display: none;
} */
.navlinks > p {
  display: hidden !important;
}
.searchContainer {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  /* width: 20%; */
  border-radius: 10px;
  background-color: #eaeaea;
}
.searchIcon {
  margin-right: 10px; /* Adjust the margin as needed */
  margin-left: 10px;
}
.Search {
  margin-top: 5px;
}

.Search input {
  border: 1px solid transparent;
  outline: none; /* Remove the default focus outline */
  background-color: #eaeaea;
}

/* Style for the focused state of the input */
.Search input:focus {
  border: 1px solid transparent;
  outline: none;
}
.nava {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  /* display: "flex", */
  /* alignContent: "baseline",
                    marginBottom: "10px",
                    justifyContent: "space-between",
                    width: "70%", */
}

@media only screen and (min-width: 411px) and (max-width: 800px) {
  .upper {
    display: none;
  }
  .bottom {
    width: 95%;
    margin: auto;
  }
  .Search {
    display: none;
  }
  .navlinks > p {
    display: visible !important;
  }
}
.suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  width: 20%;
  max-height: 200px;
  overflow-y: auto;
}
.suggestionsList li {
  padding: 8px 16px;
  cursor: pointer;
}
.suggestionsList li:hover {
  background-color: #f0f0f0;
}

@media only screen and (min-width: 0px) and (max-width: 410px) {
  .upper {
    display: none;
  }

  .bottom {
    width: auto;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
  }
  .logo {
    /* width: 100%; */
    display: none;
  }
  .Search {
    display: none;
  }
  .flag {
    display: none;
  }
  #navlinkss {
    display: none;
  }
  .brand {
    display: none;
  }
}
