.profilePage {
  margin: 0 auto 30px;
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}

.profilePage .custmPadding {
  padding: 0 75px;
}
.backtoListing {
  float: left;
  width: 100%;
  margin-top: 35px;
}
.testBackToList {
  align-items: center;
}
.backtoListing a {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  letter-spacing: 0.2px;
  color: #51cccc;
  font-family: montserrat-regular, sans-serif;
  font-size: 1em;
}
.backtoListing .icon_previous {
  float: left;
  margin-right: 7.5px;
  font-size: 0.9em;
}

[class*=" icon_"],
[class*="icon_"] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.websiteMyacTitle {
  float: left;
  width: 100%;
  font-family: montserrat-bold, sans-serif;
  font-size: 2em;
  color: #181818;
}
.backtoListing hr {
  float: left;
  width: 100%;
  margin: 15px 0 50px;
  height: 2px;
  max-width: 100px;
  background: #fdd835;
}
hr {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  border-style: inset;
  border-width: 0;
}
hr,
ul {
  display: block;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.accProfileForm {
  max-width: 400px;
  width: 100%;
}

element.style {
  margin-bottom: 60px;
}
.xgroup {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 45px;
}
.xgroup input:focus ~ label,
.xgroup input:not([value=""]) ~ label {
  top: -10px;
  font-size: 11px;
}
.xgroup label {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  color: #181818;
  position: absolute;
  left: 0;
  top: 7px;
  pointer-events: none;
  transition: all 0.1s ease;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.xgroup input,
.xgroup select {
  width: 100%;
  height: 29px;
  padding: 5px 0;
  font-size: 14px;
  outline: none;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  border-radius: 0;
  background: none;
  box-shadow: none;
  display: block;
  -webkit-appearance: none;
  line-height: normal;
}

input,
select {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#form {
  display: flex;
}

.xgroup {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 45px;
}
.xgroup .inputHelp {
  display: block;
  margin: 15px 0 -15px;
  color: #51cccc;
  font-family: montserrat-regular, sans-serif;
  font-size: 14px;
}
.clearLeft {
  clear: left;
}
.veryfyMobileOuter {
  width: 100%;
}

.verifyPhoneInput {
  color: #969696;
}
.xgroup {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 45px;
}
.xgroup input[readonly],
.xgroup select[readonly] {
  color: #999;
  cursor: default;
  pointer-events: none;
}
.xgroup input,
.xgroup select {
  width: 100%;
  height: 29px;
  padding: 5px 0;
  font-size: 14px;
  outline: none;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  border-radius: 0;
  background: none;
  box-shadow: none;
  display: block;
  -webkit-appearance: none;
  line-height: normal;
  /* margin-left: 30px; */
}
input,
select {
  vertical-align: middle;
}
.xgroup .countryCode {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 14px;
  /* display: none; */
}
.veryfyMobile {
  right: 0;
  top: 0;
}
.verifyMobileBox {
  position: absolute;
  /* right: -80px; */
  top: -5px;
  margin-top: 5px;
}
.wtsapp-tgl {
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  margin: 0 0 10px;
  font-size: 12px;
}
.genderTabBox {
  margin-bottom: 30px;
}
.addrTypeTitle {
  float: left;
  width: 100%;
  margin: -10px 0 10px;
  opacity: 0.6;
  font-size: 10px;
}
.addrTypeList {
  float: left;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
.addrSubType:not(:last-child) {
  border-right: 1px solid #8c8c8c;
}
.addrSubType {
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
}
.addrSubType input[type="radio"] {
  display: none;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.addrSubType label {
  float: left;
  padding: 7.5px 20px;
  margin: 0;
  font-size: 13px;
  font-family: montserrat-regular, sans-serif;
  text-transform: capitalize;
  color: #181818;
  cursor: pointer;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

element.style {
}
.wtsapp-tgl .selectCheckbox {
  float: none;
  margin: 0 10px 0 0;
}
.selectCheckbox {
  position: relative;
  float: right;
  width: 18px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.selectCheckbox input[type="radio"] {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* @media only screen and (min-width: 769px) .accProfileForm .submit {
  float: left;
  position: static;
  width: auto;
  margin-bottom: 20px;
} */
.accProfileForm .submit {
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  /* width: 100%; */
  height: auto;
  padding: 20px 40px;
  border: 1px solid #51cccc;
  background-color: #51cccc;
  letter-spacing: 1px;
  color: #fff;
  z-index: 1;
  margin: 0;
}

@media only screen and (min-width: 0px) and (max-width: 426px) {
  .profilePage .custmPadding {
    padding: 0px;
  }
}
